<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azumanger</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/zwgrafezika.css') }}">
    <link rel="stylesheet" href="../static/styles/zwgrafezika.css">
</head>
<body>
    <div class="navbar__top">
        <a href="/templates/home.html" class="Home">Home</a>
        <a href="/" class="Home">Sign Up
        </a>
        <a href="/" class="Home">Epsteins List
        </a>
        <a href="/templates/home.html" class="logo">
        <div class="logo__container">
            <img src="/images/logo.jpg" alt="Osaker Logo">
        </div>
        </a>
    </div>
    <div class="left__container">
        <div class="osakersPhoto">
            <img src="/images/osakers.jpg" alt="itripledick">
        </div>
        <div class="Title">
            <b>World's first and best Osaka-Engineering Organisation</b>
        </div>
        <text class="par1">
            Osakers was founted by some of the greatest minds currently alive.
            Our team consists of <b>Stelios</b>(The Orange cat), <b>Xatzo</b>(The Father),
            <b>Mpamphs</b>(The Overworked one), <b>Aris</b>(The Best one),
            <b>Christos</b>(The Sleeping seal),<b>Kontos</b>(Osaka's Favourite),<b>Kyrkos</b>(The Taxi Driver),
            <b>Mulwnas</b>(The Professor),<b>Agis</b>(The Second) and <b>Andreas</b>
            (The AFK one). By combining the electrical-engineering's mental draid and 
            the lobotomistic light-heartness of Azumanga, our organization has achieved
            lots of great things, like passing logikh sxediash.
        </text>
        <div class="illusion">
            <img src="/images/illusion.png" alt="illusion">
        </div>
    </div>
    <div class="right__container">
       <div class="chat"> 
            <div class="bubble1">
                <div class="chat__left1">
                    <img src="/images/burnedHouse.png" alt="bro is mad 1">
                </div>
                <div class="gojoPfp">
                    <img src="/images/gojoPfp.jpg" alt="Go/jo Satoru">
                </div>
            </div>
            <div class="bubble2">
                <div class="chat__right">
                    <img src="/images/stelios.png" alt="hehh^-^">
                </div>
                <div class="osakap">
                    <img src="/images/osakaPfp.png" alt="bro is Osaka">
                </div>
            </div>
            <div class="bubble3">
                <div class="chat__left2">
                    <img src="/images/myfamily.png" alt="bro is mad 2">
                </div>
                <div class="gojoPfp2">
                    <img src="/images/gojoPfp.jpg" alt="bro is gojo">
                </div>       
            </div>
            <div class="bubble4">
                <div class="chat__right2">
                    <img src="/images/stelios.png" alt="hehh^-^">
                </div>
                <div class="osakap2">
                    <img src="/images/osakaPfp.png" alt="bro is osaka">
                </div>
            </div>
            <div class="bubble5">
                <div class="chat__left3">
                    <img src="/images/killYou.png" alt="bro is mad 3">
                </div>
                <div class="gojoPfp3">
                    <img src="/images/gojoPfp.jpg" alt="bro is literally gojo">
                </div>
            </div>
            <div class="bubble6">
                <div class="chat__right3">
                    <img src="/images/telitses_stelios.png" alt="final heehh^-^">
                </div>
                <div class="osakap3">
                    <img src="/images/osakaPfp.png" alt="i cant believe sher is literally osaka">
                </div>
            </div>
        </div>
    </div>
    <div class="chatBgd">
        <img src="/images/chatBack.jpg" alt="chatBgd">
        <div class="onlineBar">
            <div class="backBut">
                <img src="/images/backButton.png" alt="backButton">
            </div>
            <div class="osakaProf">
                <img src="/images/osakaPfp.png" alt="She is the Osaker">
            </div>
            <div class="osakaName"><b>Ayumu Kasuga</b>
            </div>
            <div class="osaka_status">
                last seen beating up a minor
            </div>
            <div class="callIcon">
                <img src="/images/call.png" alt="call">
            </div>
            <div class="chatOptions">
                <img src="/images/options.png" alt="optionspng">
            </div>
        </div>
    </div>

    
</body>
</html>